* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --bg-color-secundario: #112e42;
    --texto-color: #ededed;
    --texto-principal: #00abf0;
    --texto-desabilitado: #888;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--texto-color);
}

.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.encabezado.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--texto-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--texto-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 3s;
}

.navbar a:hover,
.navbar a.activo {
    color: var(--texto-principal);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--texto-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.inicio {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('../img/fondo\ \(1\).png');
    background-size: cover;
    background-position: center;
}

.inicio-contenido {
    max-width: 60rem;
}

.inicio-contenido h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-contenido h1 span {
    color: var(--texto-color);
}

.inicio-contenido .texto-animado {
    position: relative;
    width: 32.8rem;
}

.inicio-contenido .texto-animado h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--texto-principal);
}

.inicio-contenido p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--texto-principal);
    border: .2rem solid var(--texto-principal);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--texto-principal);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--texto-principal);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--texto-principal);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.redes-sociales {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.redes-sociales a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--texto-principal);
    border-radius: 50%;
    font-size: 20px;
    color: var(--texto-principal);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.redes-sociales a:hover {
    color: var(--bg-color);
}

.redes-sociales a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--texto-principal);
    z-index: -1;
    transition: .5s;
}

.redes-sociales a:hover::before {
    width: 100%;
}

.inicio-imagenHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.inicio-imagenHover:hover {
    background: var(--bg-color);
    opacity: .8;
}


.sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color-secundario);
    padding-bottom: 6rem;
}

.titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--texto-principal);
}

.sobre-mi-imagen {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mi-imagen img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--texto-principal);
}

.sobre-mi-imagen .circulo-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color-secundario);
    border-bottom: .2rem solid var(--bg-color-secundario);
    border-left: .2rem solid var(--texto-principal);
    border-right: .2rem solid var(--texto-principal);
}

.sobre-mi-contenido {
    text-align: center;
}

.sobre-mi-contenido h3 {
    font-size: 2.6rem;
}

.sobre-mi-contenido p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btn-secundario {
    display: inline-block;
    width: 15rem;
}

.btn-box.btn-secundario a::before {
    background: var(--bg-color-secundario);
}


.portafolio-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portafolio-detalles {
    display: none;
}

.portafolio-detalles.activo {
    display: block;
}

.portafolio-box .numero {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--texto-color);
    color: transparent;
    line-height: 1;
}

.portafolio-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.portafolio-box p {
    font-size: 1.6rem;
}

.portafolio-box .tecnologia {
    margin: 2rem 0;
    color: var(--texto-principal);
    border-bottom: .1rem solid var(--texto-color);
    padding-bottom: 2rem;
}

.resumen-contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resumen-box h2 {
    font-size: 4.5rem;
}

.resumen-box p {
    font-size: 1.6rem;
}

.resumen-box .desc {
    margin: 2rem 0 2.5rem;
}

.resumen-box .resumen-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--bg-color-secundario);
    border: .2rem solid var(--bg-color-secundario);
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resumen-box .resumen-btn.activo {
    border-color: var(--texto-principal);
    color: var(--texto-principal);
}

.resumen-detalle {
    display: none;
}

.resumen-detalle.activo {
    display: block;
}

.resumen-box .titulo {
    font-size: 3.5rem;
    text-align: left;
}

.resumen-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resumen-lista::-webkit-scrollbar {
    width: .7rem;
}

.resumen-lista::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resumen-lista:hover::-webkit-scrollbar-thumb {
    background: var(--texto-principal);
}

.resumen-lista .resumen-articulo {
    background: var(--bg-color-secundario);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resumen-articulo .anno {
    color: var(--texto-principal)
}

.resumen-articulo h3 {
    font-size: 2.2rem;
}

.resumen-articulo .compania {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resumen-articulo .compania::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--texto-principal);
    border-radius: 50%;
    margin-left: -2rem;
}

.resumen-detalle.habilidades .resumen-lista {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.resumen-detalle.habilidades .resumen-articulo {
    position: relative;
    align-items: center;
    height: auto;
}

.resumen-detalle.habilidades .resumen-articulo i {
    font-size: 8.5rem;
    transition: .5s;
}

.resumen-detalle.habilidades .resumen-articulo:hover i {
    color: var(--texto-principal);
}

.resumen-detalle.habilidades .resumen-articulo span {
    position: absolute;
    top: -20%;
    background: white;
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resumen-detalle.habilidades .resumen-articulo:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

/**
.portafolio-box .github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--texto-color);
    border-radius: 50%;
    background: var(--bg-color-secundario);
    transition: .5s;
}

.portafolio-box .github a:hover {
    color: var(--texto-principal);
}

.portafolio-box .github a:first-child {
    margin-right: 1.5rem;
}

.portafolio-box .github a:first-child i {
    transform:  rotate(135deg);
}

.portafolio-box .github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--texto-color);
    color: var(--bg-color);
    opacity: 0;
    scale: .9;
    transition: .2s;
}

.portafolio-box .github a:hover span {
    top: -70%;
    opacity: 1;
    scale: 1;
}*/

/***/ 
.portafolio-box .github a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--texto-principal);
    border-radius: 50%;
    font-size: 20px;
    color: var(--texto-principal);
    z-index: 1;
    /*overflow: hidden;*/
    transition: .5s;
}

.portafolio-box .github a:hover i {
    color: var(--bg-color);
}

.portafolio-box .github a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--texto-principal);
    z-index: -1;
    transition: .5s;
}

.portafolio-box a:hover::before {
    width: 100%;
}

.portafolio-box .github a:first-child {
    margin-right: 1.5rem;
}

.portafolio-box .github a:first-child i {
    transform:  rotate(135deg);
}

.portafolio-box .github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--texto-color);
    color: var(--bg-color);
    opacity: 0;
    transition: .2s;
}

.portafolio-box .github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.portafolio-box .portafolio-carusel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}

.portafolio-carusel .imagen-slice {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s; /*transform 0.5s ease*/
}

.portafolio-carusel .img-articulo {
    height: inherit;
}

.portafolio-carusel .img-articulo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.portafolio-box .navegacion {
    text-align: right;
    margin-top: 2rem;
}

.portafolio-box .navegacion button {
    display: inline-flex;
    padding: .4rem;
    background: var(--bg-color-secundario);
    border: .2rem solid var(--texto-principal);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--texto-principal);
    cursor: pointer;
}

.portafolio-box .navegacion button.desactivado {
    border-color: var(--bg-color-secundario);
    color: var(--texto-desabilitado);
}

.portafolio-box .navegacion .flecha-derecha {
    margin-left: 1.5rem;
}

.contacto {
    min-height: auto;
    padding-bottom: 7rem;
}

.contacto form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contacto form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .input-box .input {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contacto form .input-box .input input,
.contacto form .textarea textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--texto-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--texto-principal);
}

.contacto form .input-box .input input::placeholder,
.contacto form .textarea textarea::placeholder {
    color: var(--texto-color);
} 

.contacto form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color-secundario);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contacto form .input-box .input input:focus~.focus,
.contacto form .input-box .input input:valid~.focus,
.contacto form .textarea textarea:focus~.focus, 
.contacto form .textarea textarea:valid~.focus {
    width: 100%;
}

.contacto form .textarea {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contacto form .textarea textarea {
    resize: none;
}

.contacto form .btn-box.btns .btn {
    cursor: pointer;
}